body{
    font-family:cursive;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url("https://t3.ftcdn.net/jpg/06/40/21/30/360_F_640213093_9x6OzXU2KASek7X9P1mKmK1oh5A6qNXJ.jpg");
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    color: white;
    background-attachment: fixed;
}

h1{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 70px;
    text-align: center;
    margin: 3%;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    text-align: center;
    margin: 3%;
}

img{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    width: 500px;
    height: 260px;
    cursor: grab;
    transition: transform 1s;
    transform: translateX(0) scale(0.98);
}

img:hover{
    transform: translateX(0) scale(1.03);
}

.Galeria{
    justify-content: center;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer{
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
    border-top: 1px solid #a2a1a1;
}   