body{
    background-image: url('https://i.pinimg.com/originals/72/bf/59/72bf59ea62411ac5f3265d07f886e6a6.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    top: 150px;
    left: 39%;
    background-image: linear-gradient(45deg, #94f3f3, #54a7f0, #7eeeee, #2db8b8);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}
  
.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    top: px;
}
  
.title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}
  
.title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}
  
.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}
  
.message{
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
  
.form label {
    position: relative;
}
  
.form label .input {
    width: calc(100% - 20px);
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
  
.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}
  
.form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input:valid + span {
    color: green;
}
  
.submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}
  
.submit:hover {
    background-color: rgb(56, 90, 194);
}
  
@keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}